<html> 
    <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<title>Содержание</title> 
    </head> 
    <body> 
	    <h2>Содержание</h2>
	    <ul>
		    <li> <a href="quickstart.html">Краткое руководство</a>
		    <li> <a href="machines.html">Оборудование</a>
		    <li> <a href="infopanel.html">Панель информации</a>
		    <li> <a href="actions.html">Таблица событий</a>
		    <li> <a href="action.html">События</a>
		    <li> <a href="sync.html">Синхронизация</a>
		    <li> <a href="settings.html">Настройки</a>
		</ul>

    </body> 
</html> 
